# Archivo .gitignore definitivo para el proyecto Vite

# Dependencias
# Ignora la carpeta donde se instalan los paquetes de npm.
/node_modules

# Directorio de compilación
# Ignora la carpeta que Vite genera con los archivos optimizados para producción.
/dist

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
# Es una buena práctica ignorar los archivos .env que pueden contener claves secretas.
.env
.env.*
!.env.example

# Archivos de sistema operativo e IDE
.DS_Store
.idea/
.vscode/
