---
// src/components/DonationCard.astro
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro:assets';

interface Props {
  icon: ImageMetadata;
  iconAlt?: string;
}

const { icon, iconAlt = "Icono representativo de NAU" } = Astro.props;
---
<div class="relative bg-white p-6 md:p-8 pt-8 md:pt-8 rounded-lg shadow-md text-custom-darker-teal">
  <!-- Icono posicionado en la parte superior de la tarjeta -->
  <Image src={icon} alt={iconAlt} class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-auto h-12 md:h-16" loading="lazy" />
  
  <!-- Contenido de la tarjeta -->
  <slot />
</div>